.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--background-color);
  background-color: var(--primary-color);
}

.content {
  max-width: 800px;
  min-width: 350px;
  padding: 2rem 2rem;
  margin-inline: auto;
  position: relative;
}

.search {
  width: 60%;
  min-width: min(25ch, 100%);
  margin-inline: auto;
  margin-top: 0.5rem;
}

.searchbar-wrapper {
  position: relative;
  & > svg {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    font-size: var(--fs-lg);
    color: var(--secondary-color);

    &:first-of-type {
      right: 0.6em;
    }
  }
  & > .filter-toggle {
    left: 0.6em;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.2em;
    box-sizing: unset;
    transition: background 200ms;
  }
}

.searchbar {
  width: 100%;
  font-size: var(--fs-lg);
  padding: 0.4em 2em;
  padding-inline-start: 2em;
  border-radius: 100vw;
  border-style: solid;
  border-color: var(--secondary-color);
  background-color: transparent;

  &:focus-visible {
    outline-color: var(--secondary-color);
  }
}

.tags {
  margin-top: 5px;
  margin-inline: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px 5px;

  & > label {
    text-align: center;
    cursor: pointer;
    font-size: var(--fs-sm);
    border-radius: 100vw;
    color: var(--background-color);
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--background-color);
    border: solid 1px var(--secondary-color);
    padding: 0.1em 0.5em;
  }

  & > input[type="checkbox"] {
    display: none;
    /* appearance : none; */
  }
  & > input[type="checkbox"]:checked + label {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.recipe-card {
  --border-radius: 5px;
  cursor: pointer;
  user-select: none;
  & > img {
    object-fit: cover;
    aspect-ratio: 4 / 3;
    margin-bottom: var(--border-radius);
    border-radius: var(--border-radius);
  }
  & .text {
    margin-inline-start: var(--border-radius);
    & [role="title"] {
      font-size: var(--fs-md);
      font-weight: 500;
    }
    & [role="description"] {
      font-size: var(--fs-sm);
      color: var(--text-secondary-color);
    }
  }
}

.recipe-page-image {
  position: absolute;
  inset: 0 0 auto 0;

  & > img {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
  }

  /* &::after {
    position: absolute;
    inset: 0;
    content: "";
    box-shadow: inset 0 -90px 30px -50px var(--background-color);
  } */

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    border-image: fill 1
      linear-gradient(
        to bottom,
        transparent,
        transparent 50%,
        var(--background-color) 90%,
        var(--background-color)
      );
  }
}

.recipe-page {
  max-width: 50ch;
  margin-top: 9rem;
  margin-inline: auto;
}

.quick-look {
  margin-bottom: 1.5rem;
  & > .quick-look-item {
    display: flex;
    & > svg {
      color: var(--primary-color);
      margin-inline-end: 0.2em;
    }
    & > p,
    & > a {
      line-height: 1.5;
    }
  }
}

.recipe-list {
  margin-bottom: 0.5em;
  & h4 {
    margin-bottom: 0.25em;
  }
  & ul {
    margin-inline-start: 1em;
    margin-bottom: 0.5em;
  }
  & li {
    margin-bottom: 0.25em;
  }
  & li::marker {
    line-height: 0;
    font-size: var(--fs-lg);
    color: var(--secondary-color);
  }
}

.not-found-page {
  text-align: center;
  & > img {
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
  }
  & > p {
    font-size: var(--fs-lg);
    margin-bottom: 1em;
  }
  & > a {
    font-size: var(--fs-md);
    text-decoration: solid underline var(--primary-color);
  }
}

@media (width < 500px) {
  .recipe-card {
    --fs-md: 21px;
    --fs-sm: 16px;
  }
  .recipes-grid {
    grid-template-columns: 1fr;
    /* TODO maybe 2 columns */
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media (hover: hover) {
  .recipe-card:hover [role="title"] {
    text-decoration: underline var(--primary-color);
  }
  .filter-toggle:hover {
    background-color: var(--background-color-500);
  }
}

@media (hover: none) {
  .recipe-card:active [role="title"] {
    text-decoration: underline var(--primary-color);
  }
  .filter-toggle:active {
    background-color: var(--background-color-500);
  }
}
